<!--<ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.mensaje}}
    </li>
    </ul>

    -->


<div class="container main-container">

    <h1>Fire Chat</h1>

    <div class="col-md-12 text-right" *ngIf="_cs.usuario.uid">
        <button type="button" (click)="_cs.logout()" class="btn btn-outline-danger">Salir</button>
    </div>

    <app-login *ngIf="!_cs.usuario.uid"></app-login>
    <!--  <div class="chat-window">



        <app-chat></app-chat>
    </div>
    -->
</div>